<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <%= link_to "Frontage", root_path, :class => "navbar-brand" %>
  <ul class="nav navbar-nav pull-xs-right">
    <% if current_user %>
      <li class="nav-item">
        <%= link_to "Issues", issues_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Hello, #{current_user.first_name}", profile_path, :class => "nav-link" %>
      </li>
    <% end %>

  </ul>
</nav>
