<div class="test-suite" test-suite-id="<%= test_suite_id %>">
  <div class="card-block">
    <div class="chart-<%= test_suite_id %>"></div>
  </div>
</div>

<script>
  graphs.dashboard(<%= test_suite_id %>);
</script>
