<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Status</th>
        <th>Time to Run</th>
      </tr>
    </thead>
    <tbody>
      <% @test_case_runs.each do |test_case_run| %>
        <tr>
          <td><%= time_ago_in_words(test_case_run.created_at) %> ago</td>
          <td><%= test_case_run.status_msg %></td>
          <td><%= test_case_run.time.round(2) %>s</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row text-sm-right">
  </div>
</div>
